@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.registration{
    background-color: rgb(188, 235, 159);
    padding-bottom: 3.5rem;
    top: 0;
    position: sticky;
    z-index: 100;
}
.nav-btns{
    width: 45%;
}
.nav-drop{
    width: 40%;
}
.Banner{
    width: 15%;
    font-size: large;
}
.stores{
    margin: 0 auto;
    width: 80%;
    text-align: right;
}
.store{
    margin: 2rem 2rem 2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login{
    width: 50%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem 1rem 2rem 2rem;
    margin-top: 2rem;
}
.addstore{
    width: 75%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem 1rem 2rem 2rem;
    margin-bottom: 3rem;
}
.store-img{
    height: 10rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}
.store-img2{
    height: 5rem;
    width: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}